
.ui-tabs .ui-tabs-hide {
	/* nicht löschen, gehört zu jquery ui tabs */
     display: none;
}
body {
	background-color:#EFEFEF;
	font-family: verdana;
}
#head {
	clear: booth;
	margin-bottom: 20px;
	width: 700px;
	margin: auto;
}
.kopf {
	display: block;
}
#root
	{
	background-color:white;
	width: 700px;	
	padding: 30px 0px 60px;
	margin: auto;
	/*border-top-width: 0px;*/
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 4px;
	border: 1px solid white;
	clear: both;
	margin-bottom: 40px;
	position: relative;

}
/*.storyImage {
	text-align:center;
}*/

.tab li a{
	color:black;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	padding: 2px 25px;
	margin: 3px;
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
}

.tab a:hover {
	color: white;
	background-color: #A60000;
}
.tab .current {
	color: white;
	background-color: #A60000;
}
	
.tab {
	list-style-type:none;
	/*text-align: center;*/
}
ul.tab li {
	display:inline;
	
}

.artikel {
	text-align: justify;
	width: 550px;
	margin: auto;
}
/*.imp {
	list-style-type:none;
	float: left;
}
.imp .current {
	color: white;
	background-color: #A60000;
}
.imp a:hover {
	color: white;
	background-color: #A60000;
}
.imp li a{
	color:black;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	padding: 2px 30px;
	margin: 15px;
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
}*/
	