
body {
	background-color:#EFEFEF;
	font-family: "Trebuchet MS", sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}

#border {
	width: 900px;
	margin: auto;
}

#head {
	margin-bottom: 20px;
	width: 580px;
	display: block;
}

#root {
	float: left;
	background-color:white;
	width: 550px;	
	padding: 30px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 4px;
	border: 1px solid white;
	margin-bottom: 10px;
}

#footer {
	background-color:#EFEFEF;
	width: 80px;	
}	

#footer a{
	text-decoration: none;
	font-size: 10px;
	color: #C0C0C0;
	list-style-type:none;
	padding: 2px 0px;	
}

#return {
	background-color:#EFEFEF;
	width: 580px;	
	margin-top: 20px;
	margin-bottom: 20px;
}	
	

#return  a{
	text-decoration: none;
	font-size: 12px;
	background: #C0C0C0;
	color: white;
	list-style-type:none;
	padding: 2px 20px;
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
}

#twitter {
	float: right;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 4px;
}

#leer {
	clear: both;
}

img.ohneRahmen {
	border-width: 0px;
}

img.ohneRahmen:visited {
	border-width: 0px;
}


.tab li a{
	color:black;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	padding: 2px 25px;
	margin: 20px 0px;
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
}

.tab a:hover {
	color: white;
	background-color: #A60000;
}
.tab .current {
	color: white;
	background-color: #A60000;
}
	
.tab {
	list-style-type:none;
}
ul.tab li {
	display:inline;
	
}

.artikel {
	text-align: justify;
	width: 550px;
	margin: auto;
}
	