
.ui-tabs .ui-tabs-hide {
	/* nicht löschen, gehört zu jquery ui tabs */
     display: none;
}
body {
	background-color:#EFEFEF;
	font-family: verdana;
}
#root
	{
	background-color:white;
	width: 700px;	
	padding: 15px;
	margin: auto;
	border-top-width: 0px;
}
.storyImage {
	text-align:center;
}

.tab li a{
	color:black;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	padding: 5px 30px;
	margin: 15px;
}

.tab a:hover {
	color: white;
	background-color: #993000;
}
.tab .current {
	color: white;
	background-color: #993000;
}
/*.ui-state-default {
	color: black;
	text-decoration: none;
}
.ui-state-hover {
	color: white;
	background-color: #993000;
}
.ui-state-active {
	color: white;
	background-color: #993000;
}*/
	
.tab {
	list-style-type:none;
	text-align: center;
}
ul.tab li {
	display:inline;
	
}
.tabgesicht {
	/*background-color: #00008B;*/
	/*color: black;*/
	/*text-shadow: rgba(0, 0, 0, 0.292969) 0px 1px 0pt;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	padding: 5px 30px;
	margin: 15px;*/

}
.artikel {
	text-align: center;
}
/*.ui-tabs-selected {
	color: white!important;
	background-color: #993000;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	padding: 5px 30px;
	margin: 15px;

}*/
	